:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('./assets/images/man_made_easy.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: 16px;
  font-family: Georgia, serif;

}

.cta-landing-page {
  font-size: 2.5em;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 10%;
  font-family: Georgia, serif;
}

.cta-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 5%;
}

.cta-btn {
  font-size: 16px;
  width: 20%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  background-color: #000;
  display: flex;
  justify-content: center;
  color: #fafafa;
  cursor: pointer;


}

.nav-text {
  font-weight: 600;
  color: #fafafa;
}